:root {
    --barra_interna_teste_1: #056B8E;

    --barra_01: 40%;
    --barra_02: 80%;
    --barra_03: 23%;

    --amarelo: #FDBF00;
    --azul: #056B8E;
    --branco: #C8D5DC;
}

.indicador {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 225px;
    margin-right: 20px;
    margin-bottom: 13px;
}

.dash_1 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 50%;
}

.dash_1>div {
    display: flex;
    font-size: 13px;
    align-items: center;
    width: 100%;

}

.barras {
    display: flex;
}

.container_barras {
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.barra_externa {

    height: 225px;
    width: 18px;
    background-color: #575757;
    border-radius: 5px;
    display: flex;
    align-items: flex-end;
}

.barra_interna {
    width: 18px;
    /* background-color: var(--barra_interna_teste_1); */
    border-radius: 5px 5px 5px 5px;
}



.barra_01 {
    height: var(--barra_01);
    background-color: var(--amarelo);
}

.barra_02 {
    height: var(--barra_02);
    background-color: var(--azul);
}

.barra_03 {
    height: var(--barra_03);
    background-color: var(--branco);
}